* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body {
  background-color: #F5F5F5;
  height: 340rem;
}
.box {
  min-width: 375px;
  max-width: 600px;
  margin: 0 auto;
  width: 375px;
  max-height: 1720px;
}
.header {
  width: 100%;
  height: 45px;
  background-color: #FF8A00;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}
.header > li:nth-of-type(2) {
  display: flex;
  margin-top: 10px;
  flex: 1;
  margin-left: 20px;
}
.header > li:nth-of-type(1) {
  margin-top: 5px;
  margin-left: 40px;
  flex: 1.5;
}
.header > li:nth-of-type(1) > img {
  width: 90px;
  height: 40px;
}
.header > li:nth-of-type(2) > img {
  width: 30px;
  height: 30px;
}
.carefree {
  width: 100%;
  height: 217px;
  background: url(../img/img.png) no-repeat;
  background-size: 100%;
  background-color: #FF8A00;
}
/* 换房 */
.change {
  width: 100%;
  height: 230px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.change > li:nth-of-type(1) {
  color: #333131;
  font-size: 20px;
  font-weight: 600;
  text-indent: 30px;
}
.change > li:nth-of-type(1) > span {
  color: #333131;
  font-size: 20px;
  font-weight: 600;
  margin-left: 30px;
}
.change > li:nth-of-type(2) {
  width: 100%;
  height: 10%;
  margin-left: 30px;
  font-size: 18px;
  background: url(../img/phone.png) no-repeat 300px 0px;
  background-size: 15px;
}
.change > li:nth-of-type(2) > span {
  color: #FF8A00;
  font-weight: 500;
}
.change > li:nth-of-type(3) {
  margin-left: 30px;
  font-size: 16px;
  color: #b3b1b1;
}
.change > li:nth-of-type(4) {
  display: flex;
}
.change > li:nth-of-type(4) > span:nth-of-type(1) {
  width: 60px;
  height: 30px;
  background-color: #DEE9F0;
  font-size: 15px;
  line-height: 30px;
  margin-left: 30px;
  text-indent: 7px;
  color: #849AAE;
}
.change > li:nth-of-type(4) > span:nth-of-type(2) {
  width: 40px;
  height: 30px;
  background-color: #DEE9F0;
  font-size: 15px;
  line-height: 30px;
  margin-left: 30px;
  text-indent: 7px;
  color: #849AAE;
}
.change > li:nth-of-type(4) > span:nth-of-type(3) {
  width: 80px;
  height: 30px;
  background-color: #DEE9F0;
  font-size: 15px;
  line-height: 30px;
  margin-left: 30px;
  text-indent: 7px;
  color: #849AAE;
}
/* 房源信息 */
.message {
  width: 100%;
  height: 60rem;
  background-color: white;
  margin-top: 1.5rem;
}
.message > li {
  flex: 1;
  border-bottom: 1px solid #cec8c8;
  width: 100%;
  height: 11%;
  display: flex;
  font-size: 1.5rem;
  justify-content: space-around;
  line-height: 6rem;
}
#p {
  color: #adabab;
}
/* 房源特色 */
.feature {
  width: 100%;
  height: 25rem;
  background-color: white;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
.feature > li:nth-of-type(1) {
  flex: 1;
  border-bottom: 1px solid #ccc6c6;
  width: 100%;
  text-indent: 3rem;
  font-size: 2rem;
  color: #FF8A00;
  font-weight: 600;
  line-height: 7rem;
}
.feature > li:nth-of-type(2) {
  flex: 2;
  border-bottom: 1px solid #dcd8d8;
  font-size: 1.4rem;
  line-height: 3rem;
  text-indent: 0.5rem;
}
.feature > li:nth-of-type(3) {
  flex: 1;
  border-bottom: 1px solid #d9d5d5;
  text-align: center;
  color: #807d7d;
  font-size: 1.5rem;
  line-height: 5rem;
}
.house {
  background-color: white;
  width: 100%;
  height: 16rem;
  display: flex;
  margin: 0 auto;
  border-bottom: 1px solid red;
}
.house > li:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  margin-left: 1rem;
}
.house > li:nth-of-type(1) > img {
  width: 9rem;
  height: 9rem;
}
.house > li:nth-of-type(2) {
  height: 12rem;
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 2rem;
}
.house > li:nth-of-type(2) > p:nth-of-type(1) {
  color: black;
  font-size: 1.5rem;
  white-space: nowrap;
  font-weight: 600;
}
.house > li:nth-of-type(2) > p:nth-of-type(2) {
  display: flex;
}
.house > li:nth-of-type(2) > p:nth-of-type(2) > span:nth-of-type(1) {
  flex: 3.5;
}
.house > li:nth-of-type(2) > p:nth-of-type(2) > span:nth-of-type(2) {
  color: #FF8A00;
  flex: 1;
  font-size: 1.5rem;
  font-weight: 600;
}
.house > li:nth-of-type(2) > p:nth-of-type(3) {
  display: flex;
  font-size: 1.5rem;
  color: #aea5a5;
}
.house > li:nth-of-type(2) > p:nth-of-type(3) > span:nth-of-type(1) {
  width: 7rem;
  height: 3rem;
  background-color: #F4F7F9;
  color: #849AAE;
  line-height: 3rem;
  text-indent: 0.5rem;
}
.house > li:nth-of-type(2) > p:nth-of-type(3) > span:nth-of-type(2) {
  width: 7rem;
  height: 3rem;
  background-color: #F4F7F9;
  color: #849AAE;
  line-height: 3rem;
  margin-left: 2rem;
  text-indent: 0.5rem;
}
#pp {
  width: 100%;
  height: 6rem;
  border-bottom: 1px solid gainsboro;
  color: #FF8A00;
  background-color: white;
  font-size: 2rem;
  font-weight: 600;
  line-height: 5rem;
  text-indent: 3rem;
}
.school {
  width: 100%;
  height: 46rem;
  background-color: white;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}
.school > li {
  flex: 1;
  border-bottom: 1px solid gainsboro;
  line-height: 6rem;
  text-indent: 1.5rem;
  font-size: 1.4rem;
}
.school > li > span {
  color: #b1aeae;
}
#li11 {
  color: black;
  font-weight: 600;
  font-size: 2rem;
  text-indent: 1.5rem;
  line-height: 6rem;
}
#li22 {
  text-align: center;
  line-height: 6rem;
  font-size: 1.5rem;
  color: #9c9b9b;
}
#p2 {
  width: 100%;
  height: 6rem;
  border-bottom: 1px solid gainsboro;
  color: black;
  background-color: white;
  font-size: 2rem;
  font-weight: 600;
  line-height: 5rem;
  text-indent: 3rem;
  margin-top: 2rem;
}
/* 地图 */
.ifame {
  width: 100%;
  height: 40rem;
  background-color: white;
}
#pp1 {
  width: 100%;
  height: 6rem;
  border-bottom: 1px solid gainsboro;
  color: black;
  background-color: white;
  font-size: 2rem;
  font-weight: 600;
  line-height: 5rem;
  text-indent: 3rem;
  margin-top: 2rem;
}
#p10 {
  width: 100%;
  height: 6rem;
  border-bottom: 1px solid gainsboro;
  color: #636161;
  background-color: white;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 6rem;
  text-align: center;
  margin-top: 2rem;
}
.foot {
  width: 100%;
  height: 14rem;
  background-color: #201f1f;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.foot > p {
  color: #7f7c7c;
  flex: 1;
  font-size: 1.5rem;
  border-bottom: 1px solid #8a8888;
  line-height: 4rem;
  font-weight: 600;
  text-indent: 1rem;
}
.foot > ul {
  flex: 2;
  display: flex;
}
.foot > ul > li:nth-of-type(1) {
  width: 50%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(../img/apple.png) no-repeat 3rem 3rem;
  background-size: 3rem 3rem;
}
.foot > ul > li:nth-of-type(1) > p {
  color: grey;
  font-size: 1.4rem;
}
.foot > ul > li:nth-of-type(2) {
  width: 50%;
  height: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(../img/android.png) no-repeat 3rem 3rem;
  background-size: 3rem 3rem;
}
.foot > ul > li:nth-of-type(2) > p {
  color: grey;
  font-size: 1.4rem;
}
