* {
  margin: 0;
  padding: 0;
}
.box {
  width: 37.5rem;
}
.tou {
  width: 100%;
  height: 5rem;
  display: flex;
  background-color: #ff8a00;
}
.tou > span:nth-of-type(1) {
  flex: 4;
  background: url(../img/logo.jpg) no-repeat 1rem 0rem;
  background-size: contain;
}
.tou > a:nth-of-type(1) {
  flex: 1;
  padding-top: 3rem;
  text-align: center;
  color: white;
  background: url(../img/urse.png) no-repeat 2rem 1rem;
  background-size: 1.5rem;
  text-decoration: none;
}
.tou > span:nth-of-type(2) {
  flex: 1;
  padding-top: 3rem;
  text-align: center;
  color: white;
  background: url(../img/xiazai.jpg) no-repeat 2rem 1rem;
  background-size: 2.7rem;
}
.denglu {
  width: 100%;
}
.denglu .deng_tou {
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  padding-left: 1rem;
  box-sizing: border-box;
  border-bottom: 0.1rem solid black;
}
.denglu .deng_tou > a {
  text-decoration: none;
  color: black;
}
.denglu .deng_tou > a:nth-of-type(3) {
  font-weight: 600;
}
.denglu .deng_putong {
  width: 100%;
}
.denglu .deng_putong .deng_putong_1 {
  width: 100%;
  height: 4rem;
  display: flex;
}
.denglu .deng_putong .deng_putong_1 > a:nth-of-type(1) {
  flex: 1;
  line-height: 4rem;
  text-align: center;
  text-decoration: none;
  color: black;
  border-bottom: 0.2rem solid #ff8a00;
}
.denglu .deng_putong .deng_putong_1 > a:nth-of-type(2) {
  flex: 1;
  line-height: 4rem;
  text-align: center;
  text-decoration: none;
  color: black;
  border-bottom: 0.2rem solid gray;
}
.denglu .deng_putong .deng_putong_2 {
  width: 100%;
  height: 8rem;
}
.denglu .deng_putong .deng_putong_2 .pp {
  display: flex;
  flex-direction: column;
}
.denglu .deng_putong .deng_putong_2 .pp > input:nth-of-type(1) {
  flex: 1;
  padding-left: 1rem;
  box-sizing: border-box;
  line-height: 4rem;
  border: none;
  border-bottom: 0.1rem solid black;
}
.denglu .deng_putong .deng_putong_2 .pp > input:nth-of-type(2) {
  flex: 1;
  padding-left: 1rem;
  box-sizing: border-box;
  line-height: 4rem;
  border: none;
  border-bottom: 0.1rem solid black;
}
.denglu .deng_putong .deng_putong_3 {
  width: 100%;
  display: none;
}
.denglu .deng_putong .deng_putong_3 .pu1 {
  width: 100%;
  height: 4rem;
  border-bottom: 0.1rem solid black;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  box-sizing: border-box;
  line-height: 4rem;
}
.denglu .deng_putong .deng_putong_3 .pu1 > input:nth-of-type(1) {
  flex: 1;
  border: none;
  font-size: 1rem;
}
.denglu .deng_putong .deng_putong_3 .pu1 > span:nth-of-type(1) {
  width: 7rem;
  height: 2rem;
  margin-top: 1rem;
  border: 0.1rem solid black;
  text-align: center;
  line-height: 2rem;
}
.denglu .deng_putong .deng_putong_3 .pu2 {
  width: 100%;
  height: 4rem;
  border-bottom: 0.1rem solid black;
  line-height: 4rem;
  padding-left: 1rem;
  box-sizing: border-box;
  display: flex;
}
.denglu .deng_putong .deng_putong_3 .pu2 > input {
  flex: 1;
  border: none;
}
.denglu .deng_anniu {
  width: 100%;
  padding: 0 1rem;
  box-sizing: border-box;
  margin-top: 2rem;
}
.denglu .deng_anniu .deng_anniu_1 {
  width: 100%;
  height: 5rem;
  display: flex;
}
.denglu .deng_anniu .deng_anniu_1 > button {
  flex: 1;
  background-color: #ff8a00;
  font-size: 2rem;
  color: white;
}
.denglu .deng_anniu .deng_anniu_2 {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  line-height: 3rem;
}
.denglu .deng_anniu .deng_anniu_2 > a:nth-of-type(1) {
  text-decoration: none;
  color: #ff8a00;
}
.denglu .deng_anniu .deng_anniu_2 > a:nth-of-type(2) {
  text-decoration: none;
  color: black;
}
.dd {
  display: none;
  width: 10rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  background-color: #ff8a00;
  border-radius: 1rem;
  opacity: 0.6;
  position: absolute;
  top: 10rem;
  left: 1rem;
}
